.container {
  margin: 20px;
  width: auto;
  overflow-x: auto;
}
.el1 {
  border: 1px;
  width:100%;
  border-color: grey;
  border-style: dashed;
  border-radius: 12px;
  padding: 0px;
  margin: 3px;
  resize: both;

}

#div1 {
  width: 100%px;
  height: 100px;
  padding: 10px;
  /* border: 1px solid #aaaaaa; */
}

.validation{
  border-color: red;
}

.gridContainer{
  display: block;
}

.rowContainer{
  display: flex;
  align-items: center;
  align-content: space-between;
}

