.container {
  margin: 20px;
  display: grid;
  width: 100%;
  overflow-x: none;
}
.el1 {
  border: 1px;
  border-color: grey;
  border-style: dashed;
  border-radius: 12px;
  padding: 2px;
  margin: 3px;
  overflow: auto;
  resize: both;
  min-height: 65px;
  max-height: 400px;
}
