.container {
  margin: 20px;
  display: grid;
  width: 80%;
  overflow-x: auto;
}
.el1 {
  border: 1px;
  border-color: grey;
  border-style: dashed;
  border-radius: 12px;
  padding: 25px;
  margin: 3px;
  overflow: auto;
  resize: both;
  width: auto;
  min-width: min-content;
  min-height: min-content;
}

#div1 {
  width: 100%px;
  height: 100px;
  padding: 10px;
  /* border: 1px solid #aaaaaa; */
}
